body {
  font-family: sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

div, h1, h2, p, ul, li {
  font-family: sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

.logout{
  font-weight: bold;
}

.inputGroup{
  display: flex;
  flex-direction: row;
}
